<!DOCTYPE html>
<html>
<head>
  <title>SatCatalogos</title>
  <%= stylesheet_link_tag    "sat_catalogos/application", :media => "all" %>
  <%= javascript_include_tag "sat_catalogos/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
